/* From Uiverse.io by andrew-manzyk - young-walrus-64 */
.loader {
  --clr: var(--primary);
  width: 50px;
  height: 50px;
  position: relative;
}

.box1,
.box2,
.box3 {
  border: 5px solid var(--clr);
  box-sizing: border-box;
  position: absolute;
  display: block;
}

.box1 {
  width: 100%;
  height: 100%;
  animation: anime1 4s infinite;
}

.box2 {
  width: 100%;
  height: 100%;
  padding: 10px;
  animation: anime2 4s infinite;
}

.box3 {
  width: 100%;
  height: 100%;
  padding: 10px;
  animation: anime3 4s infinite;
}

@keyframes anime1 {
  0% {
    width: 0%;
    height: 0%;
  }
  25% {
    width: 0%;
    height: 0%;
  }
  50% {
    width: 100%;
    height: 0%;
  }
  75% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes anime2 {
  0% {
    width: 0%;
    height: 0%;
  }
  35% {
    width: 0%;
    height: 0%;
  }
  50% {
    width: 100%;
    height: 0%;
  }
  75% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes anime3 {
  0% {
    width: 0%;
    height: 0%;
  }
  45% {
    width: 0%;
    height: 0%;
  }
  50% {
    width: 100%;
    height: 0%;
  }
  75% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
